<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Placement - ISE</title>
    <style>
        body {
            background-image: url("https://www.jainuniversity.ac.in/uploads/blog/db2b1c69fc63b1eb89a6ad774b1b8cb0.jpg");
            background-size: 95%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #000022;
            color: white;
        }
      </style> 
</head>
  <body>
    <!-- The navbar should be placed -->
    <br>
    <h1 style="text-align: center; font-family: 'Montserrat', sans-serif;">Welcome To</h1>
    <h1 style="text-align: center;font-family: 'Montserrat', sans-serif;">Department of Corporate Relations</h1> 
    <br>
    <div class="container-lg">
        
		<!-- The scores of the games should be placed -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>